<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="mx-auto">
    <a href="/add" class="btn btn-success">Dodaj film</a>
    <a href="/showList" class="btn btn-success">Lista filmów</a>
    <a href="/filter" class="btn btn-success">Filtruj po kategorii</a>
</div>
</body>
</html>